/* FlightList.css */
:root {
  --primary-color: #008CBA;
  --secondary-color: #006994;
  --background-light: #f9f9f9;
  --background-dark: #f2f2f2;
  --border-color: #ddd;
  --hover-color: #e6e6e6;
}

.flight-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-dark);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.flight-filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flight-filter-label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.flight-filter-submit {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.flight-filter-submit:hover {
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

.flight-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.flight-item {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-light);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.flight-item:hover {
  background-color: var(--hover-color);
  transform: scale(1.05); /* This will enlarge the item on hover */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flight-datepicker {
  margin-top: 10px;
}

.flight-search-input {  
  margin-top: 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* CSS for the link */
.flight-item-link {
  text-decoration: none;
  color: inherit;
}

.flight-item-link:hover {
  text-decoration: none; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 5px;
}

.checkbox-container label {
  margin-right: 10px;
}

.flight-filter-clear {
  background: none;
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.flight-filter-clear:hover {
  color: var(--secondary-color);
}

.status-scheduled {
  color: blue;
}

.status-active {
  color: green;
}

.status-arrived {
  color: gray;
}

.dropdown-container,
.input-field-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

/* The dropdown styles, feel free to replace this with your dropdown component's styles */
.dropdown-container select {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.input-field-container input {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.field-actions {
  display: flex;
  margin: 10px 0;
}

.field-action-button {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.field-action-button:hover {
  background: var(--primary-color);
  color: white;
}

.field-action-button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.open-modal-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.open-modal-button:hover {
  background-color: var(--secondary-color);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
