.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--background-light);
  padding: 20px;
  border-radius: 4px;
  width: 30%;  /* Adjust as needed */
  max-width: 500px;  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.modal-field {
  margin-bottom: 10px;
}

.dropdown {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.field-container {
  display: flex;
  align-items: center;
}

.remove-field-btn {
  margin-right: 10px;
  background: none;
  border: none;
  color: var(--primary-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.remove-field-btn:hover {
  color: var(--secondary-color);
}

.filter-field-container {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.filter-field-dropdown {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.filter-field-input {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.add-field-btn {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.add-field-btn:hover {
  background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

.flight-filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
